div#header-wrapper {
	background: #000;
	margin-top: -10px;
	padding-bottom: 1em;
    padding-right: 3em;
	text-align: center;
	
	& > img {
		height: auto;
        margin-top: 10px;
        max-width: 500px;
        
        @media (max-width: 480px) {
            width: 350px;
        }
	}
	@media (min-width: 768px) {
        padding: 0;
        
        & > img {
            margin-top: 0;
        }
    }
}