@import "../vars";
@import "../mixins";

@import "general";
@import "messages";
@import "header";
@import "menu";
@import "content";
@import "footer";

//div#site-wrapper {
//    box-sizing: border-box;
//
//    @media(min-width: 992px) {
//        min-height: 100%;
//        margin-bottom: -$dimFooterHeight;
//    }
//    &:after {
//        content: "";
//        display: block;
//    }
//}
div#footer {
    div#footer-upper {
        background: #151515;
        
        div.container > div {
            &:nth-child(2) {
                padding-right: 2.5em;
            }
        }
        div.row {
            margin: 0;
            span.fa {
                font-size: 16px;
                line-height: inherit;
                margin-right: 0.6em;
                text-align: center;
                width: 1.3em;
            }
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
        
        @media(max-width: 767px) {
            div.container > div:not(:first-child) h1 {
                margin-top: 1.8em;
            }
        }
    }
}