[data-editable] {
    border-radius: 2px;
    padding: 7px 0.75em;
    margin-right: -0.75em;
    margin-left: -0.75em;
    
    &:hover {
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

table [data-editable] {
    margin: -0.5em 0;
}

span.toggle {
    display: inline-block;
    font-size: 0;
    margin: -1em 0;
    padding: 0;
    
    &:hover {
        background: inherit;
    }
    span.fa {
        font-size: 20px;
    }
}

input, textarea {
    & + span.toggle {
        margin-top: 0;
    }
}