div.tools {
    @include clearfix();
}

div.form-group + div.tools {
    font-size: 0.8em;
    margin-top: -0.7em;
}

div.admin-tools {
    & > .dropdown, & > .dropup {
        & > .btn span:not(.fa) + .fa {
            margin-left: 0.5em;
        }
    }
    &.admin-tools-slim > .dropdown, &.admin-tools-slim > .dropup {
        & > .btn {
            padding: 0.3em 0.8em;
        }
    }
}